
source/Privileges.xcodeproj/xcuserdata/jon.mann.xcuserdatad/xcschemes/xcschememanagement.plist
source/Privileges.xcodeproj/project.xcworkspace/xcuserdata/jon.mann.xcuserdatad/UserInterfaceState.xcuserstate
